.content {
  font-family: Consolas, Courier, monospace;
  font-size: 16pt;
  width: 80%;
  height:200px;
  position: relative;
  padding:50px;
  background-color: #eee;
  padding-left: 10%;
  border-radius:15px;
}

.quote {
  line-height: 1.5;
  margin:0 auto;
}

.action {
  color: gray;
}

.movie-title {
  padding: 20px 0 10px 15%;
  font-style: italic;
  font-size: 80%;
  margin:0 auto;
  color: gray;
}
